<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="bg-white p-8 rounded-2xl shadow-lg w-full max-w-md">
    <h2 class="text-2xl font-bold mb-6 text-center">Send Requests</h2>
    <form class="space-y-4">
      <input
        [(ngModel)]="url"
        name="url"
        type="text" 
        placeholder="Enter an URL"
        class="w-full px-4 py-2 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-400 placeholder-gray-400"
      />
      <input
        [(ngModel)]="numberOfRequests"
        name="request"
        type="text"
        placeholder="Enter number of requests"
        class="w-full px-4 py-2 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-400 placeholder-gray-400"
      />
      <input
        [(ngModel)]="timeInterval"
        name="interval"
        type="text"
        placeholder="Enter time interval in ms between requests"
        class="w-full px-4 py-2 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-400 placeholder-gray-400"
      />
      <button
        (click)="sendRequest()"
        type="submit"
        class="w-full bg-blue-500 text-white py-2 rounded-xl hover:bg-blue-600 transition-colors"
      >
        Send
      </button>
    </form>
  </div>
</div>



<router-outlet />
